<h1> Outreach</h1>
<p>The Veterinary Clinic, P.C. works closely with many community groups and schools in the Fairfield area, providing information and educational opportunities for both adults and students in the field of veterinary medicine. We provide health care and support
    for animal shelters in Fairfield, the Noah's Ark Animal Foundation and the Heavenly Pet Sanctuary. The Veterinary Clinic, P.C. also provides full-service healthcare for the dogs in the canine unit of the Fairfield Police Department.</p>

<h2>Payment Policy</h2>
<p>Same-day appointment, walk-ins, and drop-offs are all accepted at The Veterinary Clinic, P.C.. Payment is due at the time services are rendered. We gladly accept cash, checks, Visa, MasterCard, American Express, Discover and CareCredit.
</p>
<h3>
    Cancellations
</h3>
<p>If you need to cancel an appointment, please call (641) 472-2455 at your earliest convenience</p>